h1{
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: greenyellow;
    padding: 20px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: green;
    margin: 50px;
}
body{
    background: black url(jordan2.jpg) no-repeat fixed;
}
article{
    min-width: 400px;
    max-width: 800px;
    background-color: honeydew;
    border:2px solid greenyellow ;
    padding: 20px;
    outline:5px solid green;
    margin: 50px;
}